.wrapper {
    padding-top: 50px;
    background: #ECEFF1;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }

  .img {
    background-image: url("https://st.depositphotos.com/1353632/1331/v/950/depositphotos_13312672-stock-illustration-papers-background.jpg");
    width: 100%;

  }